THUKI_PROVIDER=litellm
THUKI_API_BASE_URL=http://127.0.0.1:4000
THUKI_API_KEY=
THUKI_SUPPORTED_AI_MODELS=gemma-3-4b-it
THUKI_SYSTEM_PROMPT=
THUKI_ENABLE_DEVTOOLS=false
THUKI_OPEN_DEVTOOLS_ON_START=false
THUKI_LOCK_WINDOW_POSITION=true
THUKI_PRESERVE_USER_WINDOW_WIDTH=true
THUKI_TOGGLE_SHORTCUT=CommandOrControl+Space
